<div id="family-data-wrapper" class="employee-content-wrapper clearfix"  style="padding:5px 10px 10px; display:none;">
	<% for relative in relatives %>
		<%= render :partial => "relatives/relative_entry", :locals => {:relative => relative}%>
	<% end %>
	
	<a class="add_family" href="#new_relative_wrapper">Tambah</a>
</div>

<div id="form_new_relative"  style="display:none;">
	<div class="form_wrapper " id="new_relative_wrapper">
		<% form_for [employee, new_relative] , :html => {:class => "ajax_form" } do |f| %>
			<fieldset id="personal" class="first employee-partition">
				<legend><span>Anggota Keluarga</span></legend>
				<ol>
					<li>
						<%= f.label :name, "Nama ", :class => "required"%>
						<%= f.text_field :name %>
					</li>
					
					<li>
						<%= f.label :relationship, "Hubungan Keluarga ", :class => "required"%>
						<%= f.select(:relationship , Relative.relationship_selections , {:prompt => "Pilih Hubungan Keluarga"}) %>
					</li>
				
					<li>
						<%= f.label :sex, "Jenis Kelamin", :class => "required"%>
						<% SEX_CONSTANT.each do |value, display | %>
							<%= f.radio_button 'sex' , value %> <%= display %>
						<% end %>
					</li>
				
					<li>
						<%= f.label :last_education, "Pendidikan Terakhir", :class => "required"%>
						<%= f.text_field :last_education %>
					</li>
				
					<li>
						<%= f.label :birthplace, "Tempat Lahir", :class => "required"%>
						<%= f.text_field :birthplace %>
					</li>
				
				
					<li>
						<%= f.label :birthdate, "Tanggal Lahir", :class => "required"%>
						<%= f.date_select :birthdate, {:order => [:day, :month, :year] , :start_year => Time.now.year - 60} %>
					</li>
				
					<li>
						<%= f.label :company, "Perusahaan", :class => "required"%>
						<%= f.text_field :company %>
					</li>
				
					<li>
						<%= f.label :title, "Jabatan", :class => "required"%>
						<%= f.text_field :title %>
					</li>
				</ol>
				<input type="submit" value="Simpan Keluarga" id="relativeSubmit">
			</fieldset>
		<% end %> 
	</div>
</div>
		
		