<div id="content-wrapper">
	
	
	<div id="content">
		
		<div id="data-display-wrapper">
			<div id="core-data" class="clearfix">
				<div class="image-wrapper">
					<%= image_tag @employee.photo.url(:medium) %>  
				</div>
				<div class="info-wrapper">
					<span class="name"><%= @employee.name %></span>
					<%= render :partial => "profile_menu" %>
					<%= render :partial => "personal_data", :locals => { :employee => @employee } %>
					<%= render :partial => "family_data", :locals => { :employee => @employee,
						 :relatives => @relatives,
						 :new_relative  => @new_relative} %>
				</div>
			</div><!-- #core-data -->
		</div> <!-- #data-display-wrapper -->
	</div>
</div>

<%= render :partial => "new_employee_form", :locals => { :employee => @employee} %>

