<div class="relative_entry">
		<span class="section_header"><%= RELATIVE_CONSTANT[relative.relationship] %></span>
	<ol>
		<li>
			<span class="key">Nama</span>
			<span class="value"><%= relative.name %></span>
		</li>

		<li>
			<span class="key">Jenis Kelamin</span>
			<span class="value"><%= SEX_CONSTANT[relative.sex]  %></span>
		</li>

		<li>
			<span class="key">Pendidikan Terakhir</span>
			<span class="value"><%= relative.last_education %></span>
		</li>

		<li>
			<span class="key">Tempat Lahir</span>
			<span class="value"><%= relative.birthplace %></span>
		</li>

		<li>
			<span class="key">Tanggal Lahir</span>
			<span class="value"><%= relative.birthdate %></span>
		</li>

		<li>
			<span class="key">Perusahaan</span>
			<span class="value"><%= relative.company %></span>
		</li>

		<li>
			<span class="key">Jabatan</span>
			<span class="value"><%= relative.title %></span>
		</li>
	</ol>
</div>