<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">


<head>
  <title>Humanresc</title>
  <%= stylesheet_link_tag   "base", "flutie" , "jquery.fancybox-1.3.4", "application" %>
  <%= javascript_include_tag "jquery.min" , "jquery.fancybox-1.3.4.pack", "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="wrapper">
		<%= render :partial => "layouts/header" %>
		
		<%= yield %>
		
		<%= render :partial => "layouts/footer" %>
	</div>
</body>
</html>
